@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("./fonts/roboto-v27-latin-regular.woff") format("woff"), url("./fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("./fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

h2 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
@media (max-width: 800px) {
  h2 {
    font-size: 28px;
    line-height: 33px;
  }
}

a {
  text-decoration: none;
  font: inherit;
}

ul {
  list-style: none;
}

.Homes {
  max-width: 1440px;
  height: 828px;
  margin: 0 auto;
  background: #EAF0F9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .Homes {
    height: fit-content;
  }
}
.Homes_title {
  margin: 120px 0 105px;
}
@media (max-width: 800px) {
  .Homes_title {
    margin: 40px 0 32px;
  }
}
.Homes_list {
  margin-bottom: 121px;
  display: flex;
}
.Homes_list_container{
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
}
.Homes_list_container::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(./AllPictures/Arrow.svg);
  background-size: contain;
  right: -1%;
  top: 20%;
}
@media (max-width: 800px) {
  .Homes_list {
    width: 95%;
  }
  .Homes_list li:nth-child(3), .Homes_list li:last-child {
    display: none;
  }
}
.Homes_item {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 8px;
}
.Homes_picture {
  width: 20vw;
  height: 20vw;
}
@media (max-width: 800px){
  .Homes_picture{
    width: 43vw;
    height: 43vw;
  }
}
.Homes_name {
  margin: 24px 0;
  width: 20vw;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  color: #3077C6;
}
@media (max-width: 800px) {
  .Homes_name {
    font-size: 12px;
    line-height: 14px;
    width: 43vw;
  }
}
.Homes_adress {
  font-size: 24px;
  line-height: 28px;
  color: #BFBFBF;
  width: 20vw;
}
@media (max-width: 800px) {
  .Homes_adress {
    font-size: 12px;
    line-height: 14px;
    width: 43vw;
  }
}